body {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
  }
.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-position: center;
  background-size: cover;
  background-image: url("images/glasses-bg.png");
  height: 30rem;
  padding-top: 1rem;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
}
.logo {
  display: flex;
  align-items: center;
}

/*logo*/
.logo img {
  height: 1.5rem;
  padding: 1rem 1rem 1rem 2rem;
}
.logo p {
  font-size: 1rem;
  color: white;
  padding: 1rem;
  }
.page-header ul {
  display: flex;
  align-items: center;
}
.header-links li {
  padding: 1rem 2rem;
  color: white;
}

.cover-text {
  background-color: white;
  width: 20rem;
  justify-content: right;
  top: 10rem;
}
.cover-text h4 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}

/* Featured Services*/
#services .container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 3rem auto;
  }
.service {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 8rem;
  margin-right: 6rem;
  }
.service.exam img {
  width: 3.5rem;
  }
.service.ruler img {
  width: 5rem;
}
.service p {
  text-align: center;
  height: auto;
  margin: auto;

/* Footer*/
footer {
  background-color: azure;
}
footer h3 {
  padding: 4rem 0 4rem 0;
}
footer img {
  padding: 4rem 1rem 4rem 4rem;
}
/* Media rulesset for 471-1024*/
@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }
  .mobile-dropdown {
    display: block;
    text-align: center;
  }
  .product-image {
    width: 47%;
  }
  .product-image.glasses {
    display: none;
  }
}

/* Media rulesset for 471-1024*/
@media only screen and (max-width: 470px) {
  .landing-page {
    height: 15rem;
    }
  .moto {
    padding: 1rem 2rem;
    top: 10rem;
    }
  .moto h4 {
    font-size: 0.77rem;
  }
  .moto h2 {
    font-size: 1rem;
  }
  .desktop-dropdown li {
    display: none;
  }
  .mobile-dropdown li {
    display: block;
    text-align: center;
  }
  .product-image.watch,
  .product-image.glasses {
    display: none;
  }
  .product-image {
    width: 90%;
    margin: auto;
  }
  #business-info .container{
    flex-direction: column;
    align-items: center;
  }
  .business-blocks {
    width: 90%;
    margin-bottom: 0.5rem;
  }
  footer {
    text-align: center;
  }
}
